@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


@Html.HiddenFor(x=>x.ReceiverID)

@Html.Label("Message Title")
@Html.TextBoxFor(x=>x.Subject, new {@class="form-control"})
<br />
@Html.Label("Message Content")
@Html.TextAreaFor(x=>x.MessageDetails,10,3, new {@class="form-control"})
<br />
<a href="/Message/InBox" class="btn btn-outline-success">Go back to Messages </a>